//.card-img{
//  image: center;                TODO COVER IMAGE
//  background-size: cover;
//  background-repeat: no-repeat;
//}
.card_long{
  min-height: 800px!important;
}

.card-content{
  min-height: 100%!important;
  overflow: auto!important;

  .IntroCards_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
}
/* width */
::-webkit-scrollbar {
  width: 12px!important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1!important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px!important;
  background: #00BCD4!important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555!important;
}