
.area_div{
  padding: 0 !important;
}
.area_field{
  margin: 10px 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
  border: 2px solid #00BCD4 !important;
  border-radius: 2px !important;
  box-sizing: border-box !important;
  width: 81% !important;
  resize: vertical !important;
  text-align: start !important;
  height: 250px !important;
  padding: 0 !important;

}