.CategorySwitcher{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h3 {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #00bcd4;
    line-height: 0.1em;
    margin: 40px 0 20px;
  }

  h3 span {
    background:#fff;
    padding:0 20px;
    color: #00bcd4;
  }

  p{
    width: 100%;
    text-align: center;
    justify-self: center;
    font-size:25px;
    color: #00bcd4;
    font-weight: bold;

  }

  ul{
    margin: 25px auto;
    justify-content: center;

    li{
      margin: 0 25px;
      width: 100px;
      //padding: 10px;
      border: 2px solid #00bcd4;

      a{
        margin: -2px;
        padding: 0;
      }
    }
  }

}
