.HeaderMainDescription{
  width: 100%;
  height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;


  ul{
    margin: 230px 30px 230px 75px;

    li{
      margin: 25px;
      width: 75%;
    }

  }

}
.HeaderMainDescription:after{
  linear-gradient: rgba(0,0,0,1);

}